In [3]:
# Create an example DataFrame
import pandas as pd

data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David'],
  'Age': ['25', '30', '35', '40'],
  'Last Login': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04']
}

df = pd.DataFrame(data)
print(df.dtypes)

Name          object
Age           object
Last Login    object
dtype: object

In [4]:
# Convert 'Age' column to integer
df['Age'] = df['Age'].astype(int)
print(df.dtypes)

Name          object
Age            int64
Last Login    object
dtype: object

In [5]:
# Convert 'Last Login' column to datetime
df['Last Login'] = pd.to_datetime(df['Last Login'])
print(df.dtypes)

Name                  object
Age                    int64
Last Login    datetime64[ns]
dtype: object

In [6]:
# Create an example DataFrame
data = {
  'transaction_id': [1, 2, 3, 4, 5],
  'customer_name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
  'amount': [100, 200, 150, 300, 250]
}
df = pd.DataFrame(data)

# Group by 'customer_name' and calculate the total amount
total_amount = df.groupby('customer_name').agg({'amount': 'sum'})
print(total_amount)

               amount
customer_name
Alice             250
Bob               450
Charlie           300

In [7]:
# Group by 'customer_name' and calculate the number of transactions
num_transactions = df.groupby('customer_name').agg({'transaction_id': 'count'})
print(num_transactions)

               transaction_id
customer_name
Alice                       2
Bob                         2
Charlie                     1

In [8]:
# Group by 'customer_name' and calculate the average amount
avg_amount = df.groupby('customer_name').agg({'amount': 'mean'})
print(avg_amount)

               amount
customer_name
Alice           125.0
Bob             225.0
Charlie         300.0

In [9]:
def add(a, b):
    return a + b

# Call the function
result = add(3, 5)
print(result)

8

In [10]:
# Define a lambda function that adds two numbers
add = lambda a, b: a + b

# Call the lambda function

result = add(3, 5)
print(result)

8

In [11]:
# Create a list of squares of numbers from 0 to 9
squares = []
for i in range(10):
    squares.append(i ** 2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = [i ** 2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]