In [25]:
import numpy as np 
import pandas as pd
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'David', None, 'Eva'],
  'Age': [25, 30, 35, 25, 40, 28, None],
  'City': ['New York', 'Los Angeles', 'Chicago', 'New York', None, 'Boston', 'Miami']
}
df = pd.DataFrame(data)
df.to_csv('data.csv', index=False)

In [26]:
# Read the CSV file into a DataFrame
df = pd.read_csv('data.csv')
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Chicago
3    Alice  25.0     New York
4    David  40.0          NaN
5      NaN  28.0       Boston
6      Eva   NaN        Miami

In [27]:
# Adding a new column 'Country'
df['Country'] = 'USA'
print(df)

      Name   Age         City Country
0    Alice  25.0     New York     USA
1      Bob  30.0  Los Angeles     USA
2  Charlie  35.0      Chicago     USA
3    Alice  25.0     New York     USA
4    David  40.0          NaN     USA
5      NaN  28.0       Boston     USA
6      Eva   NaN        Miami     USA

In [28]:
# Displaying the first few rows
print(df.head())

      Name   Age         City Country
0    Alice  25.0     New York     USA
1      Bob  30.0  Los Angeles     USA
2  Charlie  35.0      Chicago     USA
3    Alice  25.0     New York     USA
4    David  40.0          NaN     USA

In [29]:
# Checking the column names
print(df.columns)

Index(['Name', 'Age', 'City', 'Country'], dtype='object')

In [30]:
# Checking for missing values
print(df.isnull().sum())

Name       1
Age        1
City       1
Country    0
dtype: int64

In [31]:
# Selecting a single column
print(df['Name'])
# Selecting multiple columns
print(df[['Name', 'Age']])

0      Alice
1        Bob
2    Charlie
3      Alice
4      David
5        NaN
6        Eva
Name: Name, dtype: object
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  35.0
3    Alice  25.0
4    David  40.0
5      NaN  28.0
6      Eva   NaN

In [32]:
# Filtering rows where Age is greater than 30
print(df[df['Age'] > 30])

      Name   Age     City Country
2  Charlie  35.0  Chicago     USA
4    David  40.0      NaN     USA

In [33]:
# Adding a new column 'Country'
df['Country'] = 'USA'
print(df)

      Name   Age         City Country
0    Alice  25.0     New York     USA
1      Bob  30.0  Los Angeles     USA
2  Charlie  35.0      Chicago     USA
3    Alice  25.0     New York     USA
4    David  40.0          NaN     USA
5      NaN  28.0       Boston     USA
6      Eva   NaN        Miami     USA

In [34]:
# Renaming the 'City' column to 'Location'
df = df.rename(columns={'City': 'Location'})
print(df)

      Name   Age     Location Country
0    Alice  25.0     New York     USA
1      Bob  30.0  Los Angeles     USA
2  Charlie  35.0      Chicago     USA
3    Alice  25.0     New York     USA
4    David  40.0          NaN     USA
5      NaN  28.0       Boston     USA
6      Eva   NaN        Miami     USA

In [35]:
# Dropping the 'Country' column
df = df.drop('Country', axis=1)
print(df)

      Name   Age     Location
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Chicago
3    Alice  25.0     New York
4    David  40.0          NaN
5      NaN  28.0       Boston
6      Eva   NaN        Miami